body {
    font-family: 'Segoe UI', sans-serif;
    float: none;
    margin: 0px;
    overflow: hidden;
}

div {
    float: none;
}

span {
    font-style: italic;
}

table {
    table-layout: fixed;
    width: 100%;
}

tr, td {
    height: 44px;
}

th {
    height: 24px;
    background-color: rgb(186, 216, 186);
}

table, th, td {
    border: 0.5px solid green;
}

button {
    height: 40px;
}

tr:hover {
    background-color: grey
}

input {
    height: 35px;
}

.controlset {
    background-color: skyblue;
    height: 40px;
    margin: 0 auto;
    display: table;
}

p {
    text-align: center;
}

.loader {
    border: 16px solid rgb(186, 216, 186);
    border-top: 16px solid green;
    border-radius: 100%;
    width: 160px;
    height: 160px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}