body {
    font-family: 'Segoe UI', sans-serif;
    float: none;
    page-break-inside: auto;
    /* not doing enthing */
    margin: 0px;
}

div {
    float: none;
    page-break-inside: auto;
    /* not doing enthing */
}

span {
    font-style: italic;
}

table {
    table-layout: fixed;
    width: 100%;
    /* border-collapse: collapse; */
    page-break-inside: auto;
    /* not doing enthing */
}

table, th, td {
    border: 0.5px solid slategray;
}

tr {
    page-break-inside: avoid;
    page-break-after: auto;
    /* not doing enthing */
}

/* page breaks NB!! */