body {
    font-family: 'Segoe UI', sans-serif;
    float: none;
    margin: 0px;
    overflow: hidden;
}

div {
    float: none;
}

span {
    font-style: italic;
}

table {
    table-layout: fixed;
    width: 100%;
}

tr, td {
    height: 44px;
}

th {
    height: 24px;
    background-color: rgb(186, 216, 186);
}

table, th, td {
    border: 0.5px solid green;
}

button {
    height: 40px;
}

tr:hover {
    background-color: grey
}

input {
    height: 35px;
}

.controlset {
    background-color: skyblue;
    height: 40px;
    margin: 0 auto;
    display: table;
}